<div class="bg">
  <div class="row">
    <div class="col-12">
      <app-navbarr></app-navbarr>
      <div class="d-flex flex-column mt-3">
        <h4 class="my-2 text-white">Take Appointment</h4>
        <form>
          <div class="w-100 d-flex mt-2 shadow">
            <i
              style="padding: 12px"
              class="fa fa-h-square my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <!-- <div class="dropdown w-100">
              <button
                class="btn btn-light dropdown-toggle w-100 p-2 ml-1"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select Hospital
              </button>
              <div
                class="dropdown-menu w-100 p-2 ml-1"
                aria-labelledby="dropdownMenuButton"
              >
                <ul *ngFor="let hosp of hospitals">
                  <li
                    class="dropdown-item p-2"
                    (click)="selectedHospital(hosp.id, hosp.hospital_name)"
                  >
                    {{ hosp.hospital_name }}
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="form-group w-100">
              <select
                class="form-control ml-1 w-100"
                [(ngModel)]="selectedHospital"
                name="hospital_name"
                (change)="selecteHospital()"
                required
              >
                <option value="Select Hospital">Select Hospital</option>
                <optgroup *ngFor="let hosp of hospitals">
                  <option value="s">
                    {{ hosp.hospital_name }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-calendar my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="date"
              name="name"
              placeholder="Date"
              #block
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-clock-o my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="time"
              name="time"
              placeholder="Time"
              #block
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-address-book-o my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="text"
              name="roomnumber"
              placeholder="Room Number"
              #block
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-user my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="text"
              name="patient"
              placeholder="Patient name"
              #block
            />
          </div>
        </form>
      </div>
      <button class="btn btn-danger w-100 py-2 rounded-pill shadow mt-5">
        Cancel
      </button>
    </div>
    <app-bottomnav></app-bottomnav>
  </div>
</div>
