<div class="container bg bg-success">
  <div class="row">
    <div class="col-12">
      <app-navbarr></app-navbarr>
      <h2 class="text-white mt-3">Hospital Shops</h2>
      <div class="d-flex w-100 p-2 mt-1" routerLink="/hospdetails">
        <img
          src="../../../assets/hospital-ico.png"
          width="100"
          height="100"
          alt=""
        />
        <div class="d-flex flex-column my-auto mx-2">
          <h4 class="text-white">Hospital Name</h4>
          <h6 class="text-white">Location</h6>
          <div class="d-flex">
            <span style="font-size: 20px" class="text-danger">* </span>
            <p class="text-white">7:00am - 7:00pm</p>
          </div>
        </div>
        <i
          style="color: white; margin-left: 1.5rem"
          class="fa fa-long-arrow-right my-auto fa-lg"
          aria-hidden="true"
        ></i>
      </div>
      <app-bottomnav></app-bottomnav>
    </div>
  </div>
</div>
