<div class="bg">
  <div class="row">
    <div class="col-12">
      <app-navbarhospital></app-navbarhospital>
      <div class="row mt-5">
        <div class="col-12 d-flex mx-auto" (click)="manageHosp()">
          <img
            src="../../../assets/hospital-ico.png"
            width="120"
            height="120"
            alt=""
          />
          <div class="d-flex flex-column my-auto ml-1">
            <h4 class="text-white">Manage Hospital</h4>
            <h6 class="text-white">Know More</h6>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex mx-auto mt-4" routerLink="/managePharm">
        <img
          src="../../../assets/capsules.png"
          width="120"
          height="120"
          alt=""
        />
        <div class="d-flex flex-column my-auto ml-1">
          <h4 class="text-white">Manage Pharmacy</h4>
          <h6 class="text-white">Know More</h6>
        </div>
      </div>
      <div class="col-12 d-flex mx-auto mt-4" routerLink="/manageAppointments">
        <img src="../../../assets/date.png" width="120" height="120" alt="" />
        <div class="d-flex flex-column my-auto ml-1">
          <h4 class="text-white">Manage Appointments</h4>
          <h6 class="text-white">Know More</h6>
        </div>
      </div>
      <div class="col-12 d-flex mx-auto mt-4" routerLink="/otherHosp">
        <img
          src="../../../assets/health-insurance.png"
          width="120"
          height="120"
          alt=""
        />
        <div class="d-flex flex-column my-auto ml-1">
          <h4 class="text-white">Other Details</h4>
          <h6 class="text-white">Know More</h6>
        </div>
      </div>
    </div>
    <app-bottomnavhospital></app-bottomnavhospital>
  </div>
</div>
