<div class="fluid-container">
  <div class="row">
    <div class="bg col-md-6 col-12 bg-success d-flex">
      <div class="w-100 d-flex justify-content-between">
        <div class="d-flex logo">
          <img
            src="../../../assets/medical-icon.png"
            width="35"
            height="35"
            alt=""
          />
          <h6 class="text-align-center pt-2 px-1 text-white">Hospital</h6>
        </div>
        <div class="d-flex">
          <a class="btn btn-danger px-2 py-1" (click)="logOut()">
            <i class="fa fa-sign-out"></i>
          </a>
          <a class="btn bg-white px-2 py-1 mx-2" (click)="logOut()">
            <i class="fa fa-bars text-success"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="fa fa-h-square" aria-hidden="true"></i>

          <img src="../../../assets/medical-icon.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
