<div class="container bg bg-success">
  <div class="row">
    <div class="col-12">
      <app-navbarr></app-navbarr>
      <div class="d-flex flex-column mt-3">
        <h4 class="my-2 text-white">Add new Hospital</h4>
        <form>
          <div class="w-100 d-flex mt-2 shadow">
            <i
              style="padding: 12px"
              class="fa fa-h-square my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2 shadow"
              [(ngModel)]="hospitals.hospital_name"
              type="text"
              name="name"
              placeholder="Hospital name"
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-calendar my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              [(ngModel)]="hospitals.date"
              type="date"
              name="name"
              placeholder="Date"
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-clock-o my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              [(ngModel)]="hospitals.time"
              type="time"
              name="name"
              placeholder="Time"
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-user my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="text"
              [(ngModel)]="hospitals.patient_cpr"
              name="name"
              placeholder="Patient CPR"
            />
          </div>
          <div class="w-100 d-flex mt-3 shadow">
            <i
              style="padding: 12px"
              class="fa fa-map-marker my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="text"
              [(ngModel)]="hospitals.location"
              name="name"
              placeholder="Location"
            />
          </div>
        </form>
      </div>
      <div class="d-flex w-100 mt-5">
        <button
          class="btn btn-danger py-2 px-3 rounded-pill shadow"
          routerLink="/home"
        >
          Cancel
        </button>
        <button
          style="background-color: beige"
          class="btn py-2 mx-2 rounded-pill shadow w-100"
          (click)="addHospital()"
        >
          Add Hospital
        </button>
      </div>
      <app-bottomnav></app-bottomnav>
    </div>
  </div>
</div>
