<div class="bg">
  <div class="row">
    <div class="col-12">
      <app-navbarhospital></app-navbarhospital>
      <div class="d-flex w-100 mt-3">
        <img
          class="my-auto w-100"
          [src]="imageUrlDefault"
          height="140"
          alt="account"
        />
      </div>
      <div class="d-flex mx-auto my-2">
        <label for="image">Image File: </label>
        <input
          type="file"
          accept="*.png.jpg"
          name="imageUrl"
          (change)="uploadImage($event)"
          [(ngModel)]="hospitalDetails.imageUrl"
        />
      </div>
      <div class="d-flex flex-column mt-3">
        <h4 class="my-2 text-white">Hospital's Informations</h4>
        <form>
          <div class="w-100 d-flex mt-1 shadow">
            <i
              style="padding: 12px"
              class="fa fa-user-o my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields p-1 w-100"
              type="text"
              name="name"
              placeholder="Your name"
            />
          </div>
          <div class="w-100 d-flex mt-1 shadow">
            <i
              style="padding: 12px"
              class="fa fa-envelope-o my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-1"
              type="text"
              name="email"
              placeholder="Email-address"
            />
          </div>
          <div class="w-100 d-flex mt-1 shadow">
            <i
              style="
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 15px;
                padding-right: 15px;
              "
              class="fa fa-mobile fa-lg my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-1"
              type="text"
              placeholder="Mobile number"
              name="number"
            />
          </div>
          <div class="w-100 d-flex mt-1 shadow">
            <i
              style="padding: 12px"
              class="fa fa-plus-square my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2 shadow"
              type="text"
              name="pharmacy"
              placeholder="Pharmacy Name (If any)"
              #pharmacy
            />
          </div>
          <div class="w-100 d-flex mt-1 shadow">
            <i
              style="padding: 12px"
              class="fa fa-key my-auto bg-white rounded"
              aria-hidden="true"
            ></i>
            <input
              class="input-fields w-100 p-2"
              type="text"
              name="name"
              placeholder="Change password"
              #block
            />
          </div>
        </form>
      </div>
      <button
        class="btn btn-secondary w-100 py-2 rounded shadow mt-3"
        (click)="editUserDetails()"
      >
        Save Changes
      </button>
      <button
        class="btn btn-danger w-50 py-2 rounded shadow mt-2"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
    <app-bottomnavhospital></app-bottomnavhospital>
  </div>
</div>
